.container-main {
    min-height: 100%;
    width: 100vw;

    position: relative;
}

.container-hero {
    background: url("../imagens/92859689_1301833016685326_128598181440967840_n_.jpg") no-repeat;
    background-size: cover;

    width: 100vw;
    min-height: 97vh;

    position: relative;

    margin: 0 auto;
}


.btn-hero {
    position: absolute;
    top: 58vh;
    justify-content: space-around;
    left: calc(50% - 122.3px);
}

/* transition */

.transition {
    position: absolute;

    /* top: 65vh; */
    top: 623px;
    width: 100%;

    z-index: 4;
}

/* hiddable cardapio */
.hidden {
    display: none !important;
}

.next-page-icon {
    position: absolute;
    right: 4vw;
    z-index: 100;
    left: auto;

    top: 50%;
}

.previous-page-icon {
    position: absolute;
    left: 4vw;
    right: auto;
    z-index: 100;

    top: 50%;
}

.previous-page-icon a,
.next-page-icon a {
    height: 100%;
    width: 20px;
    padding: 100px 40px;
}

.close-page-icon {
    position: absolute;
    top: 10px;
    right: 50px;

    padding: 10px;

}

.container-cardapio {
    width: 100vw;
    height: 80vh;

    background-color: #FFDECE;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.cardapio-header {
    width: 100vw;
    height: 10%;

    background-color: #FFD3BD;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardapio-content {
    width: 100vw;
    height: 90%;
}

.cardapio-items {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cardapio-items li {
    margin-left: 50px;
}

.cardapio-item {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: lowercase;
    color: var(--laranja-julica);
}

.cardapio-item:hover {
    color: var(--dark-purple);
}

.item-ativo .cardapio-item {
    color: white;
}

.item-ativo {
    padding: 0px 20px;

    height: 100%;
    line-height: 7vh;

    background-color: var(--dark-purple);

    box-shadow: inset 0 -8px 0 var(--laranja-julica);
}

.expositores-cardapio {
    display: none;
    flex-direction: row;

    height: 90%;

    margin: 30px 50px 30px 30px;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #fb925b WHITE;

    overflow-y: hidden;
}

.expositores-cardapio.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.selecionado {
    display: flex;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 auto;

    display: none;
}

.last-item {
    margin-right: 200px;
}

.pagina-atual {
    display: inherit;
}

.item-card {
    margin: 40px;

    min-height: 482px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-card-img {
    margin: 0 auto;

    margin-bottom: 50px;
}

.card-img {
    width: 300px;
}

.item-card-title h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.item-card-price {
    margin: 5px 0;

    padding: 5px;

    background-color: red;
    border-radius: 10px;

    font-size: 1.8rem;
    color: white;
}

/* content */

.section-1 {
    z-index: 4;
    position: relative;
    background-color: #FB925B;
}

.container-sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 50px;
}

.sec-title {
    padding: 40px 0 20px 0;
}

.row-images-parallax {
    background: url("../imagens/par_2.png");
    background-attachment: fixed;

    position: relative;
    left: 0;
    z-index: 15;

    width: 100vw;
    height: 441px;

    overflow: hidden;
}

/* expansive menus */

.container-sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-sec-2 .sec-title h1 {
    font-size: 4rem;
}


.side-by-side-text {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.side-by-side-text li {
    margin: 5px 20px;
}

.side-by-side-text li p {
    font-size: 1.6rem;
}

.mini-cardapio-container {
    display: flex;
    flex-direction: column;

    background-color: #FFDECE;

    width: 100%;
    height: 500px;

    margin-top: 50px;
}

.side-menu {

    background-color: #FFD3BD;
    position: absolute;
    right: 0px;
    width: 30vw;
    height: 500px;
}

.side-menu-items {
    padding: 10px 40px;
}

.side-menu-items.ativo {
    background-color: var(--dark-purple);
    border-left: 7px solid var(--laranja-julica);
}

.side-menu-items.ativo a {
    color: white;
}

.side-menu-items.ativo a:hover {
    font-size: 3.6rem;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 400;
}

.side-menu-text {
    font-size: 3.6rem;

    color: var(--laranja-julica);
}

.side-menu-text:hover {
    font-size: 4rem;
    font-style: italic;
    font-weight: 500;
    text-transform: lowercase;

    color: var(--dark-purple);
}


.expositor-de-imagens {
    width: 67.5vw;
    height: 450px;
    position: relative;
    left: 1.2vw;
    margin-top: 20px;
    display: none;
}

.e-1 {
    background: url('../imagens/m1.png');
    background-size: cover;
}

.e-2 {
    background: url('../imagens/b2.jpg');
    background-size: cover;
}

.e-3 {
    background: url('../imagens/t3.jpg');
    background-size: cover;
}

.e-4 {
    background: url('../imagens/docinhos_p.png');
    background-size: cover;
}

.visivel {
    display: inherit !important;
}

/* depoimentos */

.swiper-container {
    left: -40px !important;
}

/* .swiper-container {
    left: -28px !important;
} */

.title-depoimentos {
    background-color: var(--dark-purple);

    border-radius: 4px;

    width: auto;
    padding: 20px;

    position: absolute;
    top: -40px;
    left: 10vw;
}

.title-depoimentos h1 {
    font-size: 3rem;
    color: white;
}

.container-depoimentos {
    width: 100vw;
    height: 350px;

    background-color: #fb925b;

    margin: 200px 0 100px 0;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-content: center;

    overflow: visible !important;
}

.card-depoimento {
    width: 30vw !important;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 20px;
    background-color: #FFD3BD;
    margin: 0 30px;

    border-radius: 10px;
}

.card-dep-header {
    position: relative;
    left: 15px;
    width: 125px;
    padding: 5px 15px;
    background-color: var(--dark-purple);
    border-radius: 5px;
    box-shadow: 2px 2px 2px chocolate;
}

h1.nome-depoimento {
    font-size: 2.5rem;
    color: white;
}

.card-dep-text {
    border: 3px solid var(--dark-purple);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 14px 0px 14px;
}

.card-dep-link {
    margin-left: auto;
    position: relative;
    float: right;
    margin-bottom: 5px;
}

a.link-depoimento {
    text-decoration: underline;
    color: #0779e4;
    font-size: 1.4rem;
}

.swiper-slide-next {
    opacity: 0.6;
}

.swiper-slide-prev {
    opacity: 0.6;
}

.swiper-button-next {
    right: 45vw !important;
}

.swiper-button-prev {
    left: 45vw !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 2rem !important;
}

.swiper-button-next,
.swiper-button-prev {
    bottom: 1%;
    top: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--dark-purple) !important;
}

/* about me */

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 120px;
}

.about-me-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.about-me-title {
    font-size: 3.8rem;
    color: var(--cor-de-fundo);

    text-align: center;

    width: 300px;
    line-height: 60px;

    background-color: var(--dark-purple);
}

.btn-about-me {
    border: 3px solid var(--dark-purple);
    padding: 25px 80px;

    margin-top: 10px;
}

.about-me-img img {
    border-radius: 25px;
    width: 30vw;
}