@media (max-width:1440px) {
    .footer {
        height: auto;
    }
}

@media (max-width:1366px) {
    p.about-me-text {
        max-height: 327px;
        overflow-y: hidden;
    }

    .item-card-img {
        margin-bottom: 30px;
    }

    .cardapio-item {
        font-size: 2.8rem;
    }
}

@media (max-width:1024px) {
    p {
        font-size: 1.6rem;
    }

    .drawer-items {
        font-size: 4rem;
    }

    .btn-hero {
        transform: scale(0.8);
    }

    .close-page-icon {
        top: 6px;
        right: 28px;
    }

    .expositores-cardapio {
        height: 92%;
        margin: 0px 50px 30px 30px;
    }

    .cardapio-item {
        font-size: 2.3rem;
    }

    .title-of-section {
        font-size: 3.6rem;
        font-weight: 800;
    }

    .side-menu-text {
        font-size: 2.6rem;
    }

    .container-sec-2 .sec-title h1 {
        font-size: 3rem;
    }

    .container-grid {
        max-width: 85vw;
    }

    .card-depoimento {
        width: 35vw !important;
    }

    .card-dep-text {
        padding: 0px 15px;
        margin: 20px 10px 0px 10px;
    }

    .about-me-title {
        font-size: 3.4rem;
        width: 230px;
    }

    .about-me-text {
        overflow-y: hidden;
        max-height: 210px;
    }

    .btn-about-me {
        padding: 14px 70px;
        margin-top: 16px;
    }

    .logo-footer {
        position: absolute;
        margin-left: 35px;
        height: 138px;
        bottom: 16px;
    }

    .media-container-footer {
        bottom: 30px;
    }

    .copyright {
        color: #fb925b;
        bottom: 0px;
        position: absolute;
        text-align: center;
        right: calc(50% - 147.72px);
        font-size: 1.3rem;
    }
}

@media (max-width:768px) {
    .visible-items {
        font-size: 1.8rem;
        display: inline;
        margin-left: -24px;
    }

    .close-page-icon {
        margin-right: 22px;
    }

    .expositores-cardapio {
        margin: 0px 0px 30px 0px;
    }

    .container-cardapio {
        height: 60vh;
    }

    .container-cardapio {
        margin-top: 0;
    }

    .cardapio-header {
        width: 106vw;

        justify-content: left;
        margin-left: -46px;
    }

    .cardapio-item {
        font-size: 1.9rem;
    }

    .item-card {
        margin: 25px;
        min-height: auto;
    }

    .item-card-img {
        margin-bottom: 30px;
    }

    .card-img {
        width: 215px;
    }

    .item-card-title h1 {
        margin-bottom: 10px;
        font-size: 1.5rem;
        text-align: center;
    }

    .item-card-price {
        font-size: 1.5rem;
    }

    .side-menu-text {
        font-size: 1.9rem;
    }

    .side-menu-items {
        padding: 10px 16px;
    }

    .side-menu-items.ativo a:hover {
        font-size: 2rem;
    }

    .title-depoimentos {
        padding: 15px;
        top: -40px;
        /* left: 55px; */
    }

    .card-dep-header {
        position: relative;
        left: 5px;
    }

    h1.nome-depoimento {
        font-size: 2.2rem;
    }

    .card-depoimento {
        width: 40vw !important;
        padding: 10px;
    }

    .card-dep-text {
        margin: 20px 4px 0px 4px;
    }

    p.text-depoimento {
        font-size: 1.4rem;
    }

    .about-me-left {
        margin-top: -78px;
    }

    .about-me-title {
        font-size: 2.6rem;
        width: 190px;
    }

    .btn-about-me {
        padding: 8px 43px;
        margin-top: 16px;
        font-size: 1.9rem;
        text-transform: capitalize;
    }

    .logo-footer {
        height: 120px;
        bottom: 5px;
    }

    .media-container-footer {
        bottom: 10px;
        right: 30px;
    }

    .svg-background {
        margin-bottom: -5px;
    }

    .logo-footer {
        height: 120px;
        bottom: 65px;
        z-index: 10;
        margin-left: 40px;
    }

    .media-container-footer {
        bottom: 70px;
        right: 30px;
    }

    .copyright {
        color: #fb925b;

        bottom: auto;
        right: auto;

        position: relative;
        text-align: center;
        margin: 0 auto;
        font-size: 1.3rem;
        display: block;
        background-color: var(--dark-purple);
    }

}

@media (max-width:638px) {
    .container-visible-items {
        display: none;
    }

    .close-page-icon {
        top: -7px;
        right: -20px;
        position: absolute;
    }

    .close-page-icon a {
        width: 40px;
        height: 40px;
        display: inline-flex;
        background-color: #FB925B;
        border-radius: 33%;
    }

    .cardapio-header {
        width: 100vw;
        justify-content: inherit;
        margin-left: 0;
    }

    .cardapio-items {
        flex-direction: column;
    }

    .cardapio-items li {
        margin-left: 0;
        line-height: 50px;
    }

    .cardapio-item {
        display: inline-block;
        width: 100vw;
        text-align: center;
    }

    .item-ativo {
        width: 100vw;
        text-align: center;
    }

    .container-cardapio {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .expositores-cardapio {
        height: auto;
        margin: 0px 0 30px 0px;
    }

    .item-card {
        margin: 25px 20px;
        min-height: 338px;
    }
}

@media(max-width:425px) {
    .social-medias {
        margin-right: 10px;
    }

    .social-media-link {
        margin: 8px;
    }

    .drawer-content {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--cor-de-fundo);
        padding-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 510px;
    }

    .logo-img {
        height: 140px;
    }

    .container-logo {
        left: calc(50% - 70px);
    }

    .title-of-section {
        font-size: 2.6rem;
    }


    .container-sec-1 {
        margin: 0px;
    }

    .container-sec-2 .sec-title h1 {
        font-size: 2.6rem;
    }

    .side-by-side-text {
        display: flex;
        flex-direction: column;
    }

    .side-by-side-text li {
        margin: 0;
    }

    .side-menu-text {
        font-size: 1.9rem;
        display: inline-block;
        width: 100vw;
        text-align: center;
    }

    .side-menu {
        background-color: #FFD3BD;
        position: relative;
        width: auto;
    }

    .side-menu-items {
        padding: 10px 0px;
    }

    .expositor-de-imagens {
        width: 100vw;
        height: 832px;
        position: relative;
        left: 0;
        margin-top: 0;
    }

    .container-depoimentos {
        height: 245px;
        margin: 100px 0 40px 0;
    }

    .title-depoimentos {
        left: calc(50% - 83.5px);
    }

    .title-depoimentos h1 {
        font-size: 2.2rem;
    }

    .card-depoimento {
        width: 75vw !important;
        padding: 10px;
    }

    .swiper-button-prev {
        left: 13vw !important;
        bottom: auto;
        top: 50% !important;
    }

    .swiper-button-next {
        right: 13vw !important;
        bottom: auto;
        top: 50% !important;
    }

    .about-me {
        display: flex;
        flex-direction: column;
    }

    .about-me-left {
        margin-right: 0;
    }

    .about-me-text {
        margin-top: 166px;
    }

    .about-me-img {
        position: absolute;
        right: calc(50% - 76.5px);
    }

    .about-me-img img {
        border-radius: 7px;
        width: 36vw;
    }

    .footer {
        margin-top: 0px;
    }

    .svg-background {
        transform: scale(3);
        margin-bottom: 90px;
        position: relative;
        bottom: -2px;
    }

    .logo-footer {
        bottom: 70px;
        margin-left: 16px;
    }
}

@media (max-width: 375px) {
    p {
        font-size: 1.2rem;
    }

    .container-hero {
        min-height: 55vh;
    }

    .btn-hero {
        top: 34vh;
    }

    .container-drawer {
        padding: 20px 40px 40px 25px;
    }

    .drawer-content {
        padding-left: 25px;
        height: 400px;
    }

    .drawer {
        margin-top: 25px;
    }

    .drawer li {
        margin-bottom: 5px;
    }

    .drawer-items {
        font-size: 3.3rem;
    }

    .side-by-side-text li p {
        font-size: 1.2rem;
    }

    .title-depoimentos {
        padding: 12px;
        top: -28px;
    }

    .card-depoimento {
        max-height: 215px;
    }

    .card-dep-text {
        margin: 10px 4px 0px 4px;
    }

    h1.nome-depoimento {
        font-size: 1.8rem;
    }

    p.text-depoimento {
        font-size: 1.2rem;
    }

    a.link-depoimento {
        font-size: 1rem;
    }

    .svg-background {
        margin-bottom: 79px;
    }

    .logo-footer {
        bottom: 65px;
        height: 110px;
    }

    .social-media-icon-footer svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .media-container-footer {
        bottom: 80px;
        right: 20px;
    }

    .copyright {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {

    .container-logo {
        z-index: 2;
    }

    .drawer-items {
        font-size: 3rem;
    }

    .drawer-content {
        padding-left: 10px;
        height: 320px;
        top: 76px;
    }

    .container-depoimentos {
        padding: 30px 40px 10px 40px;
    }

    .swiper-button-prev {
        left: 14vw !important;
    }

    .swiper-button-next {
        right: 14vw !important;
    }

    .logo-footer {
        bottom: 47px;
        height: 90px;
    }

    .svg-background {
        margin-bottom: 67px;
    }

    .media-container-footer {
        bottom: 65px;

        right: 20px;
    }

    .social-medias ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .social-media-link {
        margin: 0;
        margin-right: 10px;
    }
}

@media (max-height: 697px) {
    .card-img {
        width: 230px;
    }
}

@media (max-height: 611px) {
    .cardapio-content {
        height: 92%;
    }

    .close-page-icon {
        top: -8px;
    }
}